.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.header span:hover {
  color: #072f57;
  text-decoration: underline;
}

.icon-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-body {
  --sds-c-modal-content-color-background: #f1f1f1;
}
